.calculator {
  &__buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    .calculator__button--span-two {
      grid-column-end: span 2;
    }
  }
  &__button {
    background-color: rgb(231, 231, 231);
    border-radius: 8px;
    padding: 10px;
    border: none;
    font-size: 25px;
    cursor: pointer;
    &:active {
      transform: scale(0.9);
    }
    &--operator {
      color: #f53737;
    }
  }
}
