.calculator {
  max-width: 300px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
  z-index: 1000;

  &__display {
    transition: background-color 0.3s ease;
    height: 80px;
    width: 100%;
    border: none;
    outline: none;
    text-align: right;
    margin-bottom: 10px;
    font-size: 30px;
    background-color: whitesmoke;
  }
}
