.calculator {
  border: 1px solid black;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
  padding: 20px;
  background-color: whitesmoke;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  &__display {
    height: 80px;
    width: 100%;
    border: none;
    outline: none;
    text-align: right;
    margin-bottom: 10px;
    font-size: 30px;
    background-color: whitesmoke;
  }
}
